<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="restaurant-container">
        {% for item in r %}
            <div class="restaurant">
                <h3>{{ item.Restaurant_Name }}</h3>
                <p>{{ item.Address }}</p>
                <p>
                    {% for cat in item.Category %}
                        {{ cat }} |
                    {% endfor %}
                </p>
            </div>
        {% endfor %}
    </div>
</body>

</html>